/* Mobile Version */

/* Main */
main {
    flex-grow: 1;
    min-height: max-content;
    overflow: hidden;
  }



/* Diensten */
.Diensten-Container {
  display: flex;
  flex-direction: column;
}

.diensten{
    display: flex;
    justify-content: center;
    position: relative;
    height: fit-content;
    width: 100vw;
    margin-top: 2.8vh;
  } 
  
  #above{
    margin-top: 8.2vh;
    margin-bottom: 5vh;
    width: 100vw;
    height: 2vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-left: 15vw;
  }
  
  .above-container {
    display: flex;
  }
  
  .above-hr {
    margin-left: 10px;
    display: flex;
    align-items: center;
  }
  
  .above-hr hr {
    width: 30vw;
    background-color: #ddd;
  }

  /* #left-b,
#right-b {
  background-color: #eee;
  color: #222;
  font-size: 2.5vh;
  margin-right: 0.7vh;
  line-height: 40px;
  height: 5.6vh;
  width: 5.6vh;
  border-style: none;
  animation-name: henk;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes henk {
 50% {background-color: #eea72e;}
 100% {background-color: #eee;} 
} 

.navigation {
    margin-left: 50px;
    display: flex;
    align-items: center;
  }

.fa-angle-left,
.fa-angle-right {
  padding: 0px;
  color: black;
}
*/
  
  .afspraak {
    display: flex;
    width: 100%;
    margin-left: 5vw;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(196, 191, 191);
    background-color: #f8f3f3;
    background-image: url(../imgs/sms.png);
    background-position-x: right;
    background-position-y: bottom;
    background-size: initial;
    background-repeat: no-repeat;
  }
  
  .afspraak-container h1, p {
    font-size: 2.5vh;
    margin-left: 10vw;
    width: 70%;
  }
  
  .scroll-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100vw; */
    height: fit-content;
  }
  
  .img {
    height: auto;
    width: auto;
    margin-left: 3vw;
  }
  
  .scrolltext,
  .scrolltitle {
    text-align: left;
    font-size: 2.5vh;
    width: 80%;
    margin-left: 10vw;
  }
  
  .service{
    position: relative;
    width: 100%;
  }



  /* Projecten */
  .projecten{
    position: relative;
    margin-top: 5vh;
    background-color: #222;
    padding-top: 40px;
    padding-bottom: 40px;
    height: fit-content;
    box-shadow: #858585 0px -2.8vh;
  }
  
  .section-title-wrap {
    position: relative;
    overflow: hidden;
  }
  
  .section-title-wrap h1 {
    color: white;
    text-shadow: #eea72e 0px 0px 1vh
  }
  
  .section-title-wrap hr {
    background-color: white;
    border-radius: 5px;
    box-shadow: #eea72e 0px 0px 4.2vh 1px;
  }
  
  .project-items{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project-items ul li {
    font-size: 2vh;
  }
  
  .project {
    height: 40vh;
    width: 40vh;
    object-fit: cover;
  }
  
  .project-items ul {
    display: flex;
  }
  
  .project-items ul li {
    padding: 1.5vw;  
  }
  
  .project-items a {
    text-shadow: #eea72e 0px 0px 10px;
  }
  
  .project-photos{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    flex-wrap: wrap;
  }
  
  /* Ervaringen */
.Ervaringen{
    /* margin-top: 2vh; */
    display: none;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
    background: no-repeat center center;
    background-size: cover;
    background-image: url('/imgs/home1-testi-bg.jpg');
    position: relative;
  }
  
  .Ervaringen::after {
    content: " ";
    position: absolute;
    display: block;
    width: 5vw;
    height: 100%;
    bottom: 0;
    left: 80vw;
    z-index: 2;
    opacity: 0.8;
    background-color: white;
    transform-origin: bottom right;
    transform: skew(-30deg, 0deg);
  }
  
  .Ervaringen::before {
    content: " ";
    position: absolute;
    display: block;
    width: 5vw;
    height: 100%;
    bottom: 0;
    left: 70vw;
    z-index: 2;
    opacity: 0.8;
    background-color: white;
    transform-origin: bottom right;
    transform: skew(-30deg, 0deg);
  }
  
  #ervaringtext{
    color: white;
    font-size: 3vh;
  }
  
  
  #ervaring-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  #ervaring-top hr {
    background-color: white;
  }
  
  .ervaring-inhoud{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
  }
  
  .ervaring-inhoud-container {
    display: flex;
    justify-content: center;
  }

  .ervaring-inhoud-inhoud {
    margin-left: 3vw;
  }
  
  .quote {
      background-color: white;
      width: 15vw;
      height: 20vh;
      padding: 1vh;
      position: relative;
      margin-bottom: 4.2vh;
  }
  
  .quote:after{
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      border: 4.5vh solid transparent;
      border-top-color: white;
      border-bottom: 0;
      margin-left: 2vw;
      margin-bottom: -2.8vh;
  }
  
  .client {
      position: relative;
      display: flex;
      flex-direction: row;
      color: white;
      align-items: center;
  }

  #client-pfp{
      border-radius: 50%;
      margin-right: 0.65vw;
      overflow: hidden;
      height: 9.8vh;
      width: 9.8vh;
  }
  .client-info{
      position: relative;
      display: flex;
      flex-direction: column;
  }
  #name{
      position: relative;
      font-weight: bold;
      color: white;
      margin: 0;
      margin-top: 3vh;
  }
  #extra{
    color: #F39323;
    position: relative;
    font-weight: bold;
    margin: 0.5vh;
  }
  
/* Nieuws */
.nieuws-container {
    background-image: url(../imgs/bg-nieuws.png);
    background-size: 100%;
    position: relative;
}

.nieuws-container * {
    z-index: 3;
}

.nieuws-container::after {
    content: '';
    background-color: #212529;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.4; 
    z-index: 1;
}

  #nieuws-title{
    color: #fa9a00;
    font-size: 4vh;
  }
  
  .Info_Container {
    display: flex;
    flex-direction: column;
  }
  
  .containernieuws {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  .row {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .row img {
    height: 40vh;
    width: 100%;
  }
  
  .btn {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 8.4vh;
    width: 40vw;
    background-color: #fa9a00;
    color: white;
    outline: 0;
    text-decoration: none;
    transition: 0.5s;
    border-style: none;
    font-size: medium;
    font-size: 2vh;
  }
  
  .btn:hover {
    background-color: #212529;
    text-decoration: none;
  }

  .background {
    position: relative;
    background: #343a40;
    height: 40vh;
    width: 100%;
    margin: 1vh 0px;
  }

  .background h1 {
    color: #eea72e;
  }
  
  .background::after {
    content: '';
    position: absolute;
    top: 0;
    left: 7.5%;
    width: 0;
    height: 0;
    border: 2.6vh solid transparent;
    border-bottom-color: #343a40;
    border-top: 0;
    border-left: 0;
    margin-left: -1.3vh;
    margin-top: -2.6vh;
  }
  
  .bgtext {
    padding: 0px 20px;
    color: white;
    font-size: 2vh;
  }
  .date {
    padding: 0px 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    border-style: solid;
    padding: 10px;
  }



/* Desktop Version */
  @media (min-width: 700px) {
  .diensten {
    height: 50vh;
  }  

 .project {
    height: 40vh;
    width: 25vw;
 }

 .Ervaringen {
  display: initial;
  display: flex;
 }

 .afspraak {
    height: fit-content;
    width: 20vw;
    padding: 40px 10px;
 }

 .scroll-img {
  flex-direction: row;
  width: 100vw;
 }

  .scrolltext,
  .scrolltitle {
    width: 22.5vw;
    margin-left: 0;
  }

  .service{
    width: 22.5vw;
  }

  .projecten {
    margin-top: 40vh;
  }

  .afspraak-container h1, p {
    margin-left: 0;
    width: initial;
  }

  .row {
    width: initial;
    margin: 0px 7vh;
  }

  .row img {
    width: 26vw;
  }

  .containernieuws {
    flex-direction: row;
  }

  .background {
    width: 26vw;
  }

  .btn {
    width: 9.7vw;
  }

  .bgtext {
    font-size: 2.5vh;
  }

  .containernieuws {
    padding: 1vh;
  }
  }